<% if article.errors.any? %>
  <div class="error ">
    <%= article.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>