// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom-slider {
  & img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
  & .slick-prev {
    z-index: 999;
  }
}