// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.rank{
  ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.table1{
  width: 100%;
  table-layout: fixed;
  height: 80px;
}
.table1 th{
  width: 20%;
}

.table1 td{
  width: 20%;
  vertical-align: middle;
}
.img3{
  width: 50%;
}

.top-slider {
  & img {
    width: 60%;
    height: 330px;
    margin: 0 auto;
  }
  & .slick-prev {
    z-index: 999;
  }
}

//タブレットサイズにレスポンシブ対応
@media screen and (max-width: 768px) {
  .top-slider {
    & img {
      height: 180px;
    }
  }
}

//スマホサイズにレスポンシブ対応
@media screen and (max-width: 425px) {
  .top-slider {
    & img {
      height: 150px;
    }
  }
}