// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info th{
  width: 30%;
}
.taikai{
  margin-top: 50px;
}


.align-items-center{
  border-top: solid #333;
}

.user-index{
  ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 10px 10px;
    display: flex;
    width: 100%;
  }
}

.admin-info{
  padding-top: 20px;
}

.user-abridgement{
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.follow-catalog{
  width: 25%;
}
.abridgement4{
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.not-user{
  margin-left: 120px;
}
.img5{
  width: 80px;
  height: 80px;
}
.table3{
  width: 100%;
  table-layout: fixed;
}
.table3 th{
  width: 33%;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem 0;
}
.table3 td{
  width: 33%;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem 0;
  max-width: 33%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//タブレットサイズ以下にレスポンシブ対応
@media screen and (max-width: 768px) {
  .user-index{
    ul{
      flex-direction: column;
    }
  }
  .user-catalog {
    width: 40%;
  }
  .abridgement3{
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .follow-catalog{
    width: 60%;
  }

  .abridgement4{
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .img5{
    width: 50px;
    height: 50px;
  }
}