// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info th{
  width: 30%;
}
.taikai{
  margin-top: 50px;
}


.align-items-center{
  border-top: solid #333;
}

.user-index{
  ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.admin-info{
  padding-top: 20px;
}

.user-abridgement{
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.follow-catalog{
  margin-left: 110px;
  width: 230px;
}
.abridgement4{
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.not-user{
  margin-left: 200px;
}